@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 224 71.4% 4.1%;
  --foreground: 210 20% 98%;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
  overscroll-behavior: none;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}
